@model List<Geocache>
@{
    ViewBag.Title = "Lijst";
}

<h1>Lijst</h1>
<a asp-action="Download" asp-route-guid="@(ViewContext.RouteData.Values["guid"])" class="btn btn-primary">Download GPX</a>
<a href="javascript:;" class="btn btn-primary" data-trigger="copy-current-url">Kopieer deelbare link</a>
<a asp-action="Index" class="btn btn-primary">Upload een nieuwe lijst</a>

@{
    var data = new MapData();
    data.Geocaches = Model;
}

<div class="mt-3">
    <partial name="~/Views/Shared/_MapPartial.cshtml" model="data" />
    <button type="button" data-draw-radius="161" class="btn btn-primary mt-3">Toon/verberg cirkels</button>
</div>
<div class="table-responsive mt-5">
    <table class="table">
        <thead>
            <tr>
                <th>GC-Code</th>
                <th>Titel</th>
                <th>Coordinaten</th>
                <th>Cache pagina</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cache in Model)
            {
                <tr>
                    <td>@cache.GCCode</td>
                    <td>@cache.Title</td>
                    <td>@cache.Coordinate.GetWSG84() <img src="~/images/copy.png" alt="copy" title="Kopieer" data-trigger="copy" /></td>
                    <td><a class="btn btn-primary" target="_blank" href="https://coord.info/@cache.GCCode">Openen</a></td>

                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/copy.js" asp-append-version="true"></script>
    <script src="~/js/gpx-list.js" asp-append-version="true"></script>
}
