@{
    ViewBag.Title = "Home";
}
<h1>Geocaching toolbelt</h1>

<h3>Coördinaten</h3>
<div class="row mt-3 internal-tools">
    <partial name="_ToolPartial" model='new Tool(
        "Projecteren",
        "Projecteer een coördinaat een bepaalde hoek en afstand.",
        "/images/projectie.jpg",
        "Projection")' />

    <partial name="_ToolPartial" model='new Tool(
        "Bogus projectie",
        "Projecteer een 2 mile cirkel om het bogus coordinaat en vind de range waarin je moet puzzelen.",
        "/images/bogusprojectie.png",
        "Projection")' />


    <partial name="_ToolPartial" model='new Tool(
        "Coördinaten van een adres",
        "Zoek de coördinaten van een adres en elk punt op de kaart op.",
        "/images/mailbox.jpg",
        "Geocode")' />

    <partial name="_ToolPartial" model='new Tool(
        "Zwaartepunt berekenen",
        "Bereken het geometrisch zwaartepunt van coördinaten om bijvoorbeeld het midden van een driehoek te bepalen.",
        "/images/Centroid_1000.gif",
        "Centroid")' />

</div>

<h3>Tekst</h3>
<div class="row mt-3 internal-tools">
    <partial name="_ToolPartial" model='new Tool(
        "Woordwaarde",
        "Bereken de woordwaarde van 1 of meerdere woorden via een aantal methodes tegelijkertijd, waaronder stapeltellen.",
        "/images/scrabble.jpg",
        "WordValue")' />

    <partial name="_ToolPartial" model='new Tool(
        "Woordenboek",
        "Filter het woordenboek op basis van een masker. Kan gebruikt worden om een substitutie cypher op te lossen.",
        "/images/woordenboek.jpg",
        "WordMask")' />

    <partial name="_ToolPartial" model='new Tool(
        "Weerstand codes",
        "Bereken de weerstand codes van 1 of meerdere kleuren tegelijkertijd.",
        "/images/weerstand.jpg",
        "Resistance")' />
</div>

<h3>Op pad</h3>
<div class="row mt-3 internal-tools">
    <partial name="_ToolPartial" model='new Tool(
    "Deel een lijst",
    "Deel een lijst met gecorrigeerde coördinaten met anderen.",
    "/images/list.jpg",
    "Gpx")' />

    <partial name="_ToolPartial" model='new Tool(
    "Coordinaat met letters",
    "Voeg alle WPs van een multi-cache inclusief formules toe. Vul tijdens het lopen de letters en kopieer de berekende coördinaten.",
    "/images/multi.jpg",
    "Formula")' />
</div>


<h1>Externe tools</h1>
<div class="row mt-3">

    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 d-flex align-items-stretch">
        <div class="card mb-3 w-100">
            <img src="/images/logoGeocachingtoolbox.png" class="card-img-top" alt="geocaching toolbox">
            <div class="card-body">
                <h5 class="card-title">Geocaching toolbox</h5>
                <p class="card-text">
                    De geocaching toolbox bevat een hoop tools.
                </p>

                <a href="https://www.geocachingtoolbox.com/" class="btn btn-link stretched-link" target="_blank" rel="noopener noreferrer"></a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 d-flex align-items-stretch">
        <div class="card mb-3 w-100">
            <img src="/images/stapeltellen_icon.png" class="card-img-top" alt="stapeltellen">
            <div class="card-body">
                <h5 class="card-title">Stapeltellen</h5>
                <p class="card-text">
                    Los van stapeltellen bevat deze website nog veel meer handige tools.
                </p>

                <a href="http://www.stapeltellen.nl/" class="btn btn-link stretched-link" target="_blank" rel="noopener noreferrer"></a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 d-flex align-items-stretch">
        <div class="card mb-3 w-100">

            <img src="/images/gpscoordinaten.png" class="card-img-top" alt="gpscoordinaten">
            <div class="card-body">
                <h5 class="card-title">GPScoordinaten.nl</h5>
                <p class="card-text">
                    Converteer coördinaten tussen RD, decimalen, UTM, graden, graden minuten en graden minuten seconden
                </p>

                <a href="https://www.gpscoordinaten.nl/converteer-rd-coordinaten.php" class="btn btn-link stretched-link" target="_blank" rel="noopener noreferrer"></a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 d-flex align-items-stretch">
        <div class="card mb-3 w-100">

            <img src="/images/projectgc.jpg" class="card-img-top" style="object-fit: contain;" alt="project gc">
            <div class="card-body">
                <h5 class="card-title">Project GC</h5>
                <p class="card-text">
                    Project GC veel statistieken en tools.
                </p>

                <a href="https://project-gc.com/" class="btn btn-link stretched-link" target="_blank" rel="noopener noreferrer"></a>
            </div>
        </div>
    </div>

</div>
