@{
    ViewBag.Title = "Home";
}
<h1>Geocaching toolbelt</h1>
<div class="row mt-3 internal-tools">
    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 d-flex align-items-stretch">
        <div class="card mb-3 w-100">
            <img src="~/images/scrabble.jpg" class="card-img-top" alt="woordwaarde">
            <div class="card-body">
                <h5 class="card-title">Woordwaarde</h5>
                <p class="card-text">
                    Bereken de woordwaarde van 1 of meerdere woorden via een aantal methodes tegelijkertijd, waaronder stapeltellen.
                </p>

                @Html.ActionLink("", "Index", "WordValue", null, new {@class = "btn btn-link stretched-link"})
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 d-flex align-items-stretch">
        <div class="card mb-3 w-100">
            <img src="~/images/woordenboek.jpg" class="card-img-top" alt="woordenboek">
            <div class="card-body">
                <h5 class="card-title">Woordenboek filter</h5>
                <p class="card-text">
                    Filter het woordenboek op basis van een masker.
                    Kan gebruikt worden om een substitutie cypher op te lossen.
                </p>

                @Html.ActionLink("", "Index", "WordMask", null, new {@class = "btn btn-link stretched-link"})
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 d-flex align-items-stretch">
    <div class="card mb-3 w-100">
        <img src="~/images/Centroid_1000.gif" class="card-img-top" alt="zwaartepunt">
        <div class="card-body">
            <h5 class="card-title">Zwaartepunt berekenen</h5>
            <p class="card-text">
                Bereken het geometrisch zwaartepunt van coordinaten om bijvoorbeeld het midden van een driehoek te bepalen.
            </p>

            @Html.ActionLink("", "Index", "Centroid", null, new {@class = "btn btn-link stretched-link"})
        </div>
    </div>
    </div>
</div>

<h1>Externe tools</h1>
<div class="row mt-3">
    
    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 d-flex align-items-stretch">
        <div class="card mb-3 w-100">
            <img src="~/images/logoGeocachingtoolbox.png" class="card-img-top" alt="geocaching toolbox">
            <div class="card-body">
                <h5 class="card-title">Geocaching toolbox</h5>
                <p class="card-text">
                    De geocaching toolbox bevat een hoop tools.
                </p>

                <a href="https://www.geocachingtoolbox.com/" class="btn btn-link stretched-link" target="_blank" rel="noopener noreferrer"></a>
            </div>
        </div>
    </div>
    
    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 d-flex align-items-stretch">
        <div class="card mb-3 w-100">
            <img src="~/images/stapeltellen_icon.png" class="card-img-top" alt="stapeltellen">
            <div class="card-body">
                <h5 class="card-title">Stapeltellen</h5>
                <p class="card-text">
                    Los van stapeltellen bevat deze website nog veel meer handige tools.
                </p>

                <a href="http://www.stapeltellen.nl/" class="btn btn-link stretched-link" target="_blank" rel="noopener noreferrer"></a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 d-flex align-items-stretch">
        <div class="card mb-3 w-100">
    
            <img src="~/images/gpscoordinaten.png" class="card-img-top" alt="gpscoordinaten">
            <div class="card-body">
                <h5 class="card-title">GPScoordinaten.nl</h5>
                <p class="card-text">
                    Converteer coordinaten tussen RD, decimalen, UTM, graden, graden minuten en graden minuten seconden
                </p>

                <a href="https://www.gpscoordinaten.nl/converteer-rd-coordinaten.php" class="btn btn-link stretched-link" target="_blank" rel="noopener noreferrer"></a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 d-flex align-items-stretch">
        <div class="card mb-3 w-100">
    
            <img src="~/images/projectgc.jpg" class="card-img-top" style="object-fit: contain;" alt="project gc">
            <div class="card-body">
                <h5 class="card-title">Project GC</h5>
                <p class="card-text">
                    Project GC veel statistieken en tools.
                </p>

                <a href="https://project-gc.com/" class="btn btn-link stretched-link" target="_blank" rel="noopener noreferrer"></a>
            </div>
        </div>
    </div>

</div>
