<h1>Geocaching toolbelt</h1>

<div class="card" style="width: 18rem;">
    <img src="~/images/woordenboek.jpg" class="card-img-top" alt="woordenboek">
    <div class="card-body">
        <h5 class="card-title">Woordzoeker</h5>
        <p class="card-text">
            Filter het woordenboek op basis van een masker.
            Kan gebruikt worden om een substitutie cypher op te lossen.
        </p>

        @Html.ActionLink("Woordzoeker", "Index", "WordMask", null, new {@class = "btn btn-primary"})
    </div>
</div>
