@{
    ViewBag.Title = "Geometrisch zwaartepunt";
    ViewBag.Description = "Bereken het geometrische zwaartepunt van een coördinaten";
}
<h1>Geometrisch zwaartepunt</h1>
<div class="mb-3">
    Bereken het geometrische zwaartepunt (middenpunt) van een aantal coördinaten.<br />
    Door 3 coördinaten in te voeren bereken je bijvoorbeeld het zwaartepunt van een driehoek.
</div>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}

<form method="post">
    <div class="form-group">
        <label for="coords">Coördinaten</label>
        <textarea class="form-control" name="coords" id="coords" rows="4" aria-describedby="coordHelp">@ViewBag.Coords</textarea>
        <small id="coordHelp" class="form-text text-muted">1 coordinaat per regel<br />WSG84 of decimaal formaat</small>
    </div>

    <button type="submit" class="btn btn-primary">Bereken</button>
</form>

@if (ViewBag.Centroid is Coordinate)
{
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Middenpunt</h5>
            <p class="card-text">
                <partial name="~/Views/Shared/_CoordinatePartial.cshtml" model="ViewBag.Centroid" />
            </p>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Kaart</h5>
            <p class="card-text">
                @{
                    var data = new MapData();
                    data.Coordinates = ViewBag.Coordinates;
                    data.Hightlight = ViewBag.Centroid;
                }
                <partial name="~/Views/Shared/_MapPartial.cshtml" model="data" />
            </p>
        </div>
    </div>
}
