@{
	ViewBag.Title = "Coördinaten van een adres";
	ViewBag.Description = "Zoek de coördinaten van een adres op.";
}
<h1>Coördinaten van een adres</h1>
<div class="mb-3">
    Zoek de coördinaten van een adres op.
</div>


<form method="post">
	<div class="form-group">
		<label for="address">Adres</label>
		<input type="text" class="form-control" name="Zoek" id="address" aria-describedby="addressHelp" value="@ViewBag.Zoek" />
		<small id="addressHelp" class="form-text text-muted">Inclusief plaats</small>
	</div>

	<button type="submit" class="btn btn-primary">Zoeken</button>
</form>

@if (ViewBag.Error != null) {
	<div class="alert alert-danger mt-3" role="alert">
		@ViewBag.Error
	</div>
}

@if (ViewBag.Result is GeocodeResult) {
	GeocodeResult result = ViewBag.Result;
	var data = new MapData();
	data.Geocaches = new List<Geocache>() {
		new Geocache() {
			Title = result.Name,
			Coordinate = result.Coordinate
		}
	};

<div class="card mt-3">
	<div class="card-body">
		<h5 class="card-title">Coordinaat</h5>
		<p class="card-text">
			<partial name="~/Views/Shared/_CoordinatePartial.cshtml" model="result.Coordinate" />
		</p>
	</div>
</div>

<div class="card mt-3">
	<div class="card-body">
		<h5 class="card-title">Kaart</h5>
		<p class="card-text">
			<partial name="~/Views/Shared/_MapPartial.cshtml" model="data" />
		</p>
	</div>
</div>
}
