/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navbar {
    margin-bottom: 10px;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Word match CSS
-------------------------------------------------- */
.matched-word {
    cursor: pointer;
}

#matches {
    font-family: "Lucida Console", Monaco, monospace;
}

.query-title {
    margin-top:15px;
}

/* Some custom changes to the theme
-------------------------------------------------- */

.col-form-label {
    font-weight: bold;
}

.form-control {
    color: #1c1c1c !important;
}

/* Word value result */
[data-id="result-container"] {
    display: none;
}

[data-id="result-container"] th img {
    width: 16px;
    cursor: pointer;
}

.vanity {
    font-size: 0.6em;
}

/* Homepage */
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.internal-tools .card-img-top {
    height: 13vw;
}

/* Resistance */
.colorpicker .color {
    width:32px;
    height:32px;
    margin-right: 16px;
    margin-bottom: 16px;
    cursor: pointer;
    float:left;
    border: 2px solid black;
}