@{
    ViewBag.Title = "Coordinaat formule";
    ViewBag.Description = "Bereken een coordinaat met variabele gegevens.";
}
<h1>Coordinaat formule</h1>
<div class="mb-3">
    Voeg alle WP's van een multi-cache inclusief formules toe.<br />
    Vul tijdens het lopen de letters en kopieer de berekende coordinaten.
</div>

<form asp-action="Add" class="mt-4">
    <div class="form-group">
        <label for="name">Naam</label>
        <input type="text" class="form-control" name="name" id="name" />
    </div>

    <button type="submit" class="btn btn-primary">Waypoints toevoegen</button>
</form>